html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
}

main {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  color: #4E4E4E;
  background-color: #E8E8E8;
  min-height: 100vh;
}

.carousel {
  display: flex;
  background-color: #ffff;
  padding-bottom: 3vh;
  margin-top: 4vh;
}

.content {
  display: flex;
  flex-direction: column;
}