.recipeElement {
  display: flex;
  align-items: center;
}

.smallPhoto {
  height: 15vh;
  width: auto;
}

.recipeName {
  margin-left: 15%;
}

.deleteReceipt {
  opacity: 1.0;
  color: #A60303;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}


.instructions {
  background-color: #ffff;
}

.cart-btn {
  background: transparent;
  border: none;
}

ol {
  list-style-type: none;
}

li {
  float: left;
  margin-right: 1rem;
}

.show-on-hover a {
  display: none;
}

.show-on-hover:hover a {
  display: inline;
}

a {
  text-decoration: none;
}

.ingredient:hover {
  background-color: #F2E088;
}

#cart-icon {
  color: #949494;
}

#cart-icon:hover {
  color: #9E9BF2;
  visibility: visible;
}

.collapsed-container {
  display: flex;
  flex-direction: column;
}


ol {
  padding-left: 1rem;
}

.instructions{
   padding-left: 1rem;
}

.recipeToggle {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #ffff;
}

.deleteReceipt {
  margin-right: 5vh;
}
