.recipeElement {
  display: flex;
  align-items: center;
}

.smallPhoto {
  height: 15vh;
  width: auto;
}

.recipeName {
  margin-left: 15%;
}

.deleteReceipt {
  opacity: 1.0;
  color: #A60303;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.instructions {
  background-color: #ffff;
  padding-top: 3vh;
}

.recipeToggle {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #ffff;
}

.deleteReceipt {
  margin-right: 5vh;
}

.ingredientsCol {
  padding-bottom: 4vh;
}