nav {
  position: fixed;

  height: 9vh;
  width: 100%;
  background-color: #9E9BF2;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 4em;
  padding-right: 4em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  justify-content: space-between;
}
.logo-link-div{
  display: flex;
  width: 35%;
  margin-left: 5%;
}

.navbar-brand {
color: #FFFFFF;
font-size: 1.8rem;
}

.navbar-brand:hover {
  color: #4E4E4E
  }

.userLinks, #links {
  color: #FFFFFF;
  width: 24%;
}
.nav-links{
  padding-top: 15px;
  display: flex;
  width: 70%;

}
#links{
  text-decoration: none;
}

.NavLogOut {
  color: #FFFFFF;
  opacity: 50%;
  display: flex;
  align-items: center;
}

.NavLogOut:hover {
  color: #FFFFFF;
  opacity: 100%;
}