nav {
  position: fixed;

  height: 9vh;
  width: 100%;
  background-color: #9E9BF2;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 4em;
  padding-right: 4em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
color: #FFFFFF;
font-size: 1.8rem;
}

.navbar-brand:hover {
  color: #4E4E4E
  }
