/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("/public/food-welcome-splash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-card, .message-container{
  width: 50%;
  height: 100%;
}
.message-container{
  display: flex;
  justify-content: center;

}

.message {
  width: 65%;
  text-align: center;
  margin-top: 25%;
  font-size: 35px;
  color: black;
  font-family: 'Quicksand', sans-serif;
}
.form-card{
  border-style:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)) ;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
}


.form{
  margin: 132px;
}

.lglabel, .btn-div{
  display: flex;
  justify-content: center;
}
.btn-div{
  padding-top: 2em;
}
.btn-primary{
  background-color: #F29544;
  border-color:#F29544;
  
}

.App-link {
  color: #61dafb;
}
.nav-color{
  background-color: #9E9BF2;
}

.signup{
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
.signup-link{
  color: red; 
  text-decoration: none;
}
.signup-link:hover {
  color: red
}

