
html, body, #root{ height: 100%;   width: 100%; margin: 0; padding: 0;   box-sizing: border-box;  }


body {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("/public/food-welcome-splash.jpg") no-repeat center center fixed ;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





